<!-- NEWEST NEWS -->
<ng-container *ngIf="searchedArticles; else noArticles">
    <div *ngFor="let article of searchedArticles" class="my-2 p-0">
        <a routerLink="/detail/{{article.id}}" class="link homeArticleLink roundedObj row p-0 m-0">
            <div class="col-12 col-md-3 text-center p-0 m-0">
                <img src='{{article.imageUrl}}' class="homeArticleImg img-fluid roundedObj">
            </div>
            <div class="col-12 col-md-9">
                <h2>{{article.title}}</h2>
                <p>
                    {{article.text}}
                </p>
            </div>
        </a>
    </div>
</ng-container>

<ng-template #noArticles>
    Brak artykułów
</ng-template>